table,
th,
td {
  border: 1px solid rgb(30, 69, 4);
  border-collapse: collapse;
  text-align: justify;
  padding: 10px;
}
span {
  color: rgb(6, 38, 1);
  padding: auto;
}
b {
  color: rgb(56, 137, 44);
  padding: 10px;
}
h1 {
  color: rgb(6, 38, 1);
  padding: auto;
}
h2 {
  color: rgb(57, 245, 28);
  padding: auto;
}
